/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-toolbar{
    background-image: linear-gradient(to right, #3ec1d3, #5ccbdd, #75d5e7, #8ce0f1, #a1eafb);
    color: #FFFFFF;
}

mat-sidenav-container,mat-sidenav-content div{
    height: calc(100vh - 65px);
}
mat-sidenav{
    width: 280px;
    min-width: 250px;
    background-color: white  !important;
}
.mat-list-base .mat-list-item{ color: grey !important; }
.mat-list-base{padding: 0 !important;}
.mat-list-item.active{
    color: #185ADB !important;
    background-color: whitesmoke !important;
}